<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatBuddy</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</head>

<body>
    <nav class="nav">
        <div class="nav-container">
            <a href="#" class="nav-logo">
                <img src="{{ url_for('static', filename='images/BeatBuddyIcon.png') }}" class="logo" alt="Logo" />
                <span class="title">BeatBuddy</span>
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="box">
            <div class="upper" id="upperid">
                <span class="downwarning">Meet your new BeatBuddy! Start chatting below.</span>
            </div>
            <div class="bottom">
                <form id="userinputform">
                    <label for="chat" class="sr-only">Your message</label>
                    <div class="input-container">
                        <textarea id="userinput" rows="1" class="textarea" placeholder="Your message..." required></textarea>
                        <button type="submit" class="send-button" id="sendbtn">
                            <svg aria-hidden="true" class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                            </svg>
                            <span class="sr-only">Send message</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function scroll() {
            var div = document.getElementById("upperid");
            div.scrollTop = div.scrollHeight;
        }

        document.getElementById("userinputform").addEventListener("submit", function (event) {
            event.preventDefault();
            sendmessage();
            document.getElementById('userinput').value = ""
        });

        document.getElementById("userinput").addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                sendmessage();
                document.getElementById('userinput').value = ""
            }
        });

        function sendmessage() {
            userinput = document.getElementById('userinput').value
            sendbtn = document.getElementById('sendbtn')
            upperdiv = document.getElementById('upperid')
           

            upperdiv.innerHTML = upperdiv.innerHTML + `<div class="message">
                <div class="usermessagediv">
                        <div class="usermessage">
                            ${userinput}
                        </div>
                </div>
            </div>`
            scroll()
        }
    </script>
</body>
</html>